aiohttp==3.7.4.post0 ; python_version >= "3.10" and python_version < "4.0"
async-timeout==3.0.1 ; python_version >= "3.10" and python_version < "4.0"
attrs==22.2.0 ; python_version >= "3.10" and python_version < "4.0"
certifi==2022.12.7 ; python_version >= "3.10" and python_version < "4"
cffi==1.15.1 ; python_version >= "3.10" and python_version < "4.0"
chardet==4.0.0 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==3.0.1 ; python_version >= "3.10" and python_version < "4"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
ffmpeg-python==0.2.0 ; python_version >= "3.10" and python_version < "4.0"
filelock==3.9.0 ; python_version >= "3.10" and python_version < "4.0"
future==0.18.3 ; python_version >= "3.10" and python_version < "4.0"
huggingface-hub==0.12.0 ; python_version >= "3.10" and python_version < "4.0"
idna==3.4 ; python_version >= "3.10" and python_version < "4"
more-itertools==9.0.0 ; python_version >= "3.10" and python_version < "4.0"
multidict==6.0.4 ; python_version >= "3.10" and python_version < "4.0"
numpy==1.24.2 ; python_version >= "3.10" and python_version < "4.0"
nvidia-cublas-cu11==11.10.3.66 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Linux"
nvidia-cuda-nvrtc-cu11==11.7.99 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Linux"
nvidia-cuda-runtime-cu11==11.7.99 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Linux"
nvidia-cudnn-cu11==8.5.0.96 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Linux"
openai-whisper @ git+https://github.com/openai/whisper.git@HEAD ; python_version >= "3.10" and python_version < "4.0"
openai==0.26.5 ; python_version >= "3.10" and python_version < "4.0"
packaging==23.0 ; python_version >= "3.10" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.10" and python_version < "4.0"
pyqt6-qt6==6.4.2 ; python_version >= "3.10" and python_version < "4.0"
pyqt6-sip==13.4.1 ; python_version >= "3.10" and python_version < "4.0"
pyqt6==6.4.2 ; python_version >= "3.10" and python_version < "4.0"
pyyaml==6.0 ; python_version >= "3.10" and python_version < "4.0"
regex==2022.10.31 ; python_version >= "3.10" and python_version < "4.0"
requests==2.28.2 ; python_version >= "3.10" and python_version < "4"
setuptools==67.2.0 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Linux"
sounddevice==0.4.5 ; python_version >= "3.10" and python_version < "4.0"
soundfile==0.11.0 ; python_version >= "3.10" and python_version < "4.0"
tokenizers==0.13.2 ; python_version >= "3.10" and python_version < "4.0"
torch==1.13.1 ; python_version >= "3.10" and python_version < "4.0"
tqdm==4.64.1 ; python_version >= "3.10" and python_version < "4.0"
transformers==4.26.1 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.4.0 ; python_version >= "3.10" and python_version < "4.0"
urllib3==1.26.14 ; python_version >= "3.10" and python_version < "4"
wheel==0.38.4 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Linux"
yarl==1.8.2 ; python_version >= "3.10" and python_version < "4.0"
